.addToOverlay {
  width: 100%;
  background-color: transparent;
  backdrop-filter: blur(10px);
  height: 20%;
  position: absolute;
  bottom: 0%;
  left: 50%;
  transform: translate(-50%, 0);
  box-shadow: 0 -4rem 5rem #ffffff;
  display: flex;
  align-items: stretch;
  justify-content: stretch;
  gap: var(--spacing-xs);
  z-index: 200;
}

.btn__qty {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: var(--spacing-sm);
  flex: 1;
  background-color: var(--color-white);
  border: 3px solid var(--color-tertiary-600);
  border-radius: var(--border-radius-sm);
}
.btn__qty:hover {
  background-color: var(--color-tertiary-100);
}

.btn__qty h2 {
}

.btn__qty svg {
  transform: rotate(-90deg);
  font-size: var(--icon-size-24);
}

.btn__addOn {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--color-white);
  flex: 4;
  background-color: var(--color-tertiary-600);
  border-radius: var(--border-radius-sm);
  padding: 0 var(--spacing-md);
  position: relative;
}
.btn__addOn:hover {
  background-color: var(--color-tertiary-700);
}

.btn__addOn:active {
  background-color: var(--color-tertiary-500);
}

.btn__addOn svg {
  font-size: var(--icon-size-40);
}

.btn__addOn h2 {
  font-size: var(--font-size-lg);
  font-family: var(--font-family-bold);
}
