.basketSticky {
  height: 7.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: var(--spacing-md);
  color: var(--color-white);
  border-radius: var(--border-radius-md);
  background-color: var(--color-tertiary-700);
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  z-index: var(--z-index-800);
  box-shadow: var(--box-shadow);
  gap: var(--spacing-md);
}
.basketSticky:hover {
  filter: contrast(140%);
}
.divider {
  background-color: var(--color-white);
  width: 2px;
  border-radius: 999px;
  height: 100%;
}

.basketSticky svg {
  font-size: var(--font-size-lg);
}
.basketSticky h2 {
  font-size: var(--font-size-xl);
  transform: translateY(3px);
  font-family: var(--font-family-regular);
}
