.basketMenu {
  position: absolute;
  width: clamp(45rem, 75vw, 54rem);
  height: 80rem;
  box-shadow: 0 0 7rem #00000035;
  border-radius: var(--border-radius-lg) 0 0 var(--border-radius-lg);
  background-color: var(--color-white);
  bottom: 0;
  right: 0rem;
  z-index: var(--z-index-800);
  position: fixed;
  transform: translate(0%, -50%);
  padding: var(--spacing-md);
  display: flex;
  flex-direction: column;
  gap: var(--spacing-md);
}
.basketMenu__title {
  font-size: var(--font-size-xl);
  color: var(--color-gray-800);

  letter-spacing: -1px;
  color: var(--color-gray-800);
  font-size: var(--font-size-xl);
}

.btn__close {
  position: absolute;
  top: 2rem;
  right: 2rem;
  width: var(--icon-size-32);
  height: var(--icon-size-32);
  border-radius: var(--border-radius-circle);
  background-color: var(--color-white);
  transition: all 0.2s;
  border: 2px solid var(--color-secondary-900);
  z-index: var(--z-index-300);
}
.btn__close:hover {
  background-color: var(--color-secondary-900);
  border: 1px solid transparent;
  transform: scale(1.1);
}
.btn__close:active {
  transform: scale(1);
}
.btn__close:hover svg {
  color: var(--color-primary-900);
}
.btn__close svg {
  font-size: var(--icon-size-32);
  color: var(--color-secondary-900);
}

/* Basket List item */

.basketListContainer {
  width: 100%;
  height: 100%;
  flex: 1;
  position: relative;
}
.basketListContainer::after {
  content: "";
  width: 100%;
  height: 3rem;
  background-image: linear-gradient(180deg, transparent 0%, #ffffff 100%);
  z-index: 700;
  position: absolute;
  bottom: 0;
  left: 0;
}
.basketListContainer::before {
  content: "";
  width: 100%;
  height: 3rem;
  background-image: linear-gradient(0deg, transparent 0%, #ffffff 100%);
  z-index: 700;
  position: absolute;
  top: 0;
  left: 0;
}

.totalContainer {
  width: 100%;
  height: min-content;
}

.basketList {
  position: relative;
  width: 100%;
  height: 35rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  z-index: 200;
  overflow-y: scroll;
}

.basketList::-webkit-scrollbar {
  display: none;
}

.basketItem {
  width: 100%;
  padding: var(--spacing-sm);
  display: flex;
  align-items: stretch;
  justify-content: center;
  border-bottom: 1px solid var(--color-gray-200);
}

.basketItem__sideLeft {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
.basketItem__sideLeft img {
  width: 6rem;
  transform: translateY(-20%);
}

.basketItem__sideRight {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex: 2;
  position: relative;
  gap: var(--spacing-sm);
}
.basketItem__sideRight h2 {
  color: var(--color-secondary-700);
  font-size: var(--font-size-md);
  font-family: var(--font-family-regular);
  transform: translateY(4px);
  width: 8rem;
}

.basketItem__sideRight .btn__delete {
  background-color: var(--color-secondary-900);
  padding: var(--spacing-sm);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: var(--border-radius-sm);
  width: var(--icon-size-40);
  height: var(--icon-size-40);
  transition: all 0.2s;
  flex: 1;
}
.basketItem__sideRight .btn__delete:hover {
  background-color: var(--color-secondary-700);
}
.basketItem__sideRight .btn__delete svg {
  font-size: var(--icon-size-24);
  color: var(--color-white);
  transition: all 0.2s;
}

.basketItem__main {
  flex: 4;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: var(--spacing-md);
}
.basketItem__main h2 {
  color: var(--color-gray-800);
  font-size: var(--font-size-sm);
  font-family: var(--font-family-regular);
}

.input__qty {
  width: 4rem;
  height: 4rem;
  padding: var(--spacing-sm);
  outline: none;
  border: none;
  text-align: center;
  border-top: 3px solid var(--color-primary-600);
  border-bottom: 3px solid var(--color-primary-600);
  flex: 1;
  font-family: var(--font-family-bold);
  font-size: var(--font-size-sm);
}
