.header {
  width: 100%;
  height: calc(95vh - 8rem);
}

.banner {
  width: 100%;
  height: 100%;
}

.swiper {
  width: 100%;
  height: 100%;
}

.banner__1 {
  width: 100%;
  height: 100%;
  background-image: url(./../../../../assets//Image/banner/Banner-10.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
}

.teaserBox {
  width: 40rem;
  height: min-content;
  background-color: var(--color-white);
  border-radius: var(--border-radius-lg);
  padding: var(--spacing-md);
  position: absolute;
  top: 45%;
  left: 10%;
  box-shadow: var(--box-shadow);
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
}

.teaserBox__footer {
  margin-top: auto;
  align-self: flex-end;
}
.teaserBox__footer button {
}

.teaserBox__header {
  width: 100%;
}
.teaserBox__title {
  font-size: var(--font-size-xl);
  font-weight: var(--font-weight-bold);
  margin-bottom: var(--spacing-sm);
  font-family: var(--font-family-bold);
  line-height: 1.2;
  letter-spacing: -2px;
}

.teaserBox__body {
  width: 100%;
  font-size: var(--font-size-md);
  font-family: var(--font-family-regular);
  margin-bottom: var(--spacing-lg);
}
.teaserBox__content {
}

.teaserBox {
}
.banner__2 {
  position: relative;
  width: 100%;
  height: 100%;
  background-image: url(./../../../../assets//Image/banner/Banner-11.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

/*responsive*/

/* break point on 768 */
@media screen and (max-width: 48em) {
  .teaserBox {
    top: 60%;
    left: 5%;
  }
  .header {
    height: calc(75vh - 8rem);
  }
}
