.layout {
  width: calc(100% - 8vw);
  height: 100%;
  position: absolute;
  z-index: var(--z-index-800);
  background-color: var(--color-white);
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  border-radius: var(--border-radius-lg);
  display: flex;
  align-items: center;
  justify-content: center;
}

.layout img {
  width: 10rem;
  height: 10rem;
  border-radius: 2rem;
}
