.loginContainer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
  gap: var(--spacing-lg);
}

.btn__login {
  /* height: 4.6rem; */
  padding: var(--spacing-sm) var(--spacing-md);
  font-size: var(--font-size-sm);
  font-weight: var(--font-weight-regular);
  color: var(--color-primary-shade);
  border: 2px solid var(--color-primary-shade);
  background-color: transparent;
  border-radius: var(--border-radius-circle);
}
.btn__login:hover {
  background-color: var(--color-primary-100);
}

.btn__login img {
  width: 2.4rem;
}
.brandContainer {
  width: 24rem;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  gap: var(--spacing-md);
}

.brandContainer img {
  width: 75%;
}
.brandContainer h1 {
  width: 100%;
  text-align: center;
  font-size: var(--font-size-xxl);
  line-height: 1;
  transform: translateY(-4px);
  color: var(--color-primary-900);
}
