.loginContainer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
  gap: var(--spacing-md);
  position: relative;
}

.btn__login {
  padding: var(--spacing-sm) var(--spacing-md);
  font-size: var(--font-size-sm);
  font-weight: var(--font-weight-regular);
  color: var(--color-primary-shade);
  border: 2px solid var(--color-primary-shade);
  background-color: transparent;
  border-radius: var(--border-radius-circle);
}
.btn__login:hover {
  background-color: var(--color-primary-100);
}

.btn__login img {
  width: 2.4rem;
}
.brandContainer {
  width: 24rem;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  gap: var(--spacing-md);
}

.brandContainer img {
  width: 75%;
}
.brandContainer h1 {
  width: 100%;
  text-align: center;
  font-size: var(--font-size-xxl);
  line-height: 1;
  transform: translateY(-4px);
  color: var(--color-primary-900);
}
.btn__home {
  padding: var(--spacing-md);
  border-radius: var(--border-radius-circle);
  margin-top: var(--spacing-lg);
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--color-gray-100);
}
.btn__home:hover {
  background-color: var(--color-secondary-200);
  transform: translate(-50%, -60%);
}
.btn__home svg {
  font-size: var(--font-size-lg);
  color: var(--color-gray-800);
}
.btn__home:hover svg {
  color: var(--color-secondary-900) !important;
}
.showHomeBtn {
  transform: translate(-50%, -300%) scale(1.2);
  background-color: var(--color-primary-100);
  transition: all 0.5s 0.2s !important;
}
.showHomeBtn:hover {
  transform: translate(-50%, -310%) scale(1.2) !important;
}

.showHomeBtn svg {
  color: var(--color-primary-900) !important;
  transition: all 0.5s 0.2s !important;
}

.showHomeBtn:hover svg {
}
