.menuContainer {
  width: 100%;
  padding: var(--padding-container-xl);
  height: min-content;
  background-color: transparent;
  position: relative;
  overflow: hidden;
}
.title {
  color: var(--color-gray-900);
  font-size: var(--font-size-xxxl);
}
