.menuItem {
  position: relative;
}

.menuItem__card {
  height: 40rem;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-direction: column;
  position: relative;
  background: linear-gradient(to top, var(--color-primary-200), var(--color-white));
  border-radius: var(--border-radius-md);
  transition: all 0.3s;
  z-index: 100;
  cursor: pointer;
}

.menuItem__card:hover {
  background: linear-gradient(to top, var(--color-primary-300), var(--color-white));
}

/* -------------------------------- */
.menuItem__header {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  padding: var(--spacing-md);
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: var(--spacing-sm);
  z-index: var(--z-index-200);
}

.menuItem__header button {
  width: var(--icon-size-40);
  height: var(--icon-size-40);
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  color: var(--color-primary-900);
}
.menuItem__header button:hover {
  color: var(--color-primary-900);
  background-color: var(--color-tertiary-900);
  border-radius: var(--border-radius-circle);
}

.menuItem__header button svg {
  width: var(--icon-size-32);
  height: var(--icon-size-32);
}
.menuItem__header img {
  width: var(--icon-size-32);
  transition: var(--transition);
  position: absolute;
  top: 2rem;
  right: 0;
}

.menuItem__body {
  flex: 1;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}
.menuItem__image {
  width: clamp(18rem, 80%, 28rem);
  height: auto;
  transform: scale(1);
  transition: all 0.3s;
}

.menuItem__footer {
  width: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  gap: var(--spacing-sm);
  padding: var(--spacing-md);
  font-family: var(--font-family-bold);
}

.menuItem__title {
  font-size: var(--font-size-lg);
  font-weight: var(--font-weight-regular);
  line-height: 1;
  flex: 1;
  /* letter-spacing: -1px; */
}

.menuItem__price {
  font-size: var(--font-size-lg);
  color: var(--color-secondary-900);
  font-weight: var(--font-weight-regular);
  line-height: 1;
}
