.menuItem {
  position: relative;
  height: min-content;
  width: 100%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: stretch;
  flex-direction: column;
  transition: all 0.3s;
  border-radius: var(--border-radius-lg);
}

.menuItem::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 23rem;
  /* background-image: linear-gradient(180deg, #ffd35b 20%, #ffffff 90%); */
  background-color: var(--color-primary-700);
  top: 0;
  left: 0;
  z-index: var(--z-index-100);
  border-radius: var(--border-radius-lg);
  transition: all 0.2s;
}
.menuItem:hover::after {
  border-radius: 2.4rem 2.4rem 2.4rem 2.4rem;
  background-color: var(--color-primary-900);
}
.menuItem:hover .menuItem__footer {
  border: 1px solid var(--color-primary-200);
  box-shadow: 0 -0.2rem 0.1rem var(--color-primary-400);
}
/* -------------------------------- */
.menuItem__header {
  z-index: var(--z-index-300);
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: var(--spacing-md);
  width: 100%;
  height: 10rem;
  padding: var(--spacing-md);
}

.header__title {
  font-family: var(--font-family-bold);
  font-size: var(--font-size-lg);
  flex: 3;
}
.header__title p {
  margin: var(--spacing-xs) 0;
  color: var(--color-gray-900);
  font-family: var(--font-family-regular);
  font-size: var(--font-size-sm);
  font-weight: var(--font-weight-bold);
}

.header__btn {
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
  flex-direction: column;
  gap: var(--spacing-sm);
  z-index: 200;
}
.header__btn h2 {
  color: var(--color-secondary-900);
  font-size: var(--font-size-lg);
  transform: translateX(12px);
  margin-bottom: var(--spacing-sm);

  display: flex;
  align-items: center;
  justify-content: center;
}
.header__btn button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: var(--icon-size-24);
  height: var(--icon-size-24);
  border-radius: var(--border-radius-circle);
  background-color: transparent;
  transition: all 0.2s ease-in-out;
}
.header__btn button svg {
  color: var(--color-tertiary-600);
  font-size: var(--icon-size-32);
  transition: all 0.2s ease-in-out;
}
.header__btn button:hover svg {
  color: var(--color-tertiary-700);
  transform: scale(1.05);
}

.menuItem__body {
  width: 80%;
  height: 28rem;
  z-index: var(--z-index-200);
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  transform: translateY(0rem);
  transition: all 0.2s;
  display: flex;
  align-items: center;
}

.menuItem__footer {
  width: 100%;
  z-index: var(--z-index-300);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: var(--spacing-md);
  transform: translateY(-0rem);
  border: 1px solid var(--color-gray-100);
  border-radius: var(--border-radius-lg);
  backdrop-filter: blur(10px);
  transition: all 0.2s;
}

.qtySection {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: var(--spacing-sm);
  flex: 1;
}
.qtySection button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: var(--icon-size-32);
  height: var(--icon-size-32);
  border-radius: var(--border-radius-circle);
}
.qtySection button:hover {
  background-color: var(--color-gray-300);
}
.qtySection input {
  width: 4rem;
  height: 4rem;
  border-radius: var(--border-radius-md);
  border: 1px solid var(--color-gray-400);
  text-align: center;
  font-size: var(--font-size-md);
  font-family: var(--font-family-bold);
  outline: none;
  transition: all 0.2s ease-in-out;
  z-index: var(--z-index-300);
}

.qtySection input:focus {
  background-color: var(--color-gray-100);
  border: none;
}

.qtySection button svg {
  font-size: var(--font-size-md);
}
.addBtn {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  z-index: var(--z-index-300);
}

.addBtn button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: var(--icon-size-40);
  height: var(--icon-size-40);
  padding: var(--spacing-md);
  font-size: var(--font-size-md);
  font-weight: var(--font-weight-regular);
  border-radius: var(--border-radius-circle);
  background-color: var(--color-primary-900);
}
.addBtn button:hover {
  background-color: var(--color-secondary-900);
}

.addBtn button svg {
  font-size: var(--icon-size-48);
  color: var(--color-gray-900);
  transition: all 0.2s ease-in-out;
}

.addBtn button:hover svg {
  color: var(--color-primary-700);
}
