.megaMenu {
  width: 100%;
  position: absolute;
  display: flex;
  align-items: stretch;
  justify-content: stretch;
  background-color: var(--color-white);
  height: 100%;
  max-height: 87vh;
  padding: var(--spacing-lg);
  border-radius: 0 0 var(--border-radius-lg) var(--border-radius-lg);
  overflow: hidden;
  gap: var(--spacing-lg);
  z-index: var(--z-index-500);
  top: 7rem;
  left: 0;
  box-shadow: var(--box-shadow);
}

.bg__logo {
  position: absolute;
  top: 10rem;
  left: 0%;
  transform: scale(0.7);
}

.foodCategory {
  width: 85%;
  height: 100%;
  z-index: var(--z-index-900);
  display: grid;
  /* place-content: start; */
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  grid-gap: var(--spacing-md);
  background-image: linear-gradient(180deg, #f1f1f575 0%, transparent 50%, #f1f1f575 100%);
  padding: var(--spacing-lg);
  border-radius: var(--border-radius-lg);
}

.menuAds {
  display: flex;
  align-items: stretch;
  justify-content: stretch;
  width: 25%;
  height: min-content;
  z-index: var(--z-index-900);
}

.menuAds__card {
  overflow: hidden;
  background-color: var(--color-secondary-800);
  padding: var(--spacing-lg);
  border-radius: var(--border-radius-lg);
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.menuAds__card h2 {
  font-size: var(--font-size-xxl);
  color: white;
}
.menuAds__card p {
  font-size: var(--font-size-md);
  color: white;
}
.menuAds__card img {
  width: 12rem;
  bottom: var(--spacing-lg);
  right: var(--spacing-lg);
  margin-bottom: var(--spacing-md);
}

.dividerV {
  height: 100%;
  background-color: var(--color-primary-900);
  width: 1rem;
  border-radius: 999px;
}
.menuCloser {
  border-radius: var(--border-radius-circle);
  background-color: var(--color-white);
  position: absolute;
  bottom: 1rem;
  left: 50%;
  height: 6rem;
  z-index: var(--z-index-900);
  border: 2px solid var(--color-secondary-900);
}
.menuCloser:hover {
  background-color: var(--color-secondary-900);
  transform: translateY(-8px);
  height: 7rem;
}
.menuCloser:hover svg {
  color: var(--color-white);
}

.menuCloser:hover::after {
  top: -30%;
  left: 50%;
  opacity: 1;
}

.menuCloser:after {
  content: "Close Menu";
  position: absolute;
  width: 20rem;
  top: 0%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  transition: all 0.3s;
  opacity: 0;
  font-weight: var(--font-weight-regular);
}

.menuCloser svg {
  font-size: var(--icon-size-32);
  color: var(--color-gray-700);
}

/* Menu item style in mega menu  */

.foodCategory__item {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: var(--spacing-md);
  padding: var(--spacing-md) var(--spacing-lg);
  border-radius: var(--border-radius-circle);
  border: 0.2rem solid var(--color-secondary-800);
  background-color: #ffffff90;
  transition: all 0.2s ease-in-out;
}
.foodCategory__item:hover {
  border: 0.2rem solid var(--color-secondary-900);
  box-shadow: 0 0.4rem 0.1rem #ba2318;
  background-color: #ffffff99;
  backdrop-filter: blur(0.2rem);
}
.foodCategory__item:hover .card__image img {
  transform: scale(1.1);
}
.card__image {
  width: min-content;
  height: auto;
}
.card__image img {
  width: 9.6rem;
  height: 9.6rem;
  transition: all 0.2s ease-in-out;
}
.card__content {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: var(--spacing-xs);
}

.content__title {
  font-size: var(--font-size-lg);
}

.content__description {
  font-size: var(--font-size-xs);
}

.content__numberOfMenus {
  font-size: var(--font-size-sm);
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: var(--spacing-xs);
  font-weight: 600;
}

.content__numberOfMenus span {
  background-color: var(--color-secondary-800);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2.8rem;
  height: 2.8rem;
  color: var(--color-white);
  font-weight: 600;
  border-radius: 999px;
  text-align: center;
  line-height: 0;
}

.card__btn {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.card__btn button {
  background-color: transparent;
  height: 100%;
  font-size: var(--font-size-sm);
  color: var(--color-secondary-900);
  font-weight: 600;
  padding: var(--spacing-xs);
}
.card__btn button:hover {
  /* transform: translateX(0.6rem); */
}
.card__btn button:hover svg {
  transform: rotate(90deg);
  font-size: var(--font-size-md);
}

.card__btn button svg {
  transition: all 0.1s ease-in-out;
  font-size: var(--font-size-sm);
}

/* responsive style sheet  */

/* break point on 1537px */
@media screen and (max-width: 96em) {
  .foodCategory {
    width: 100%;
    overflow-y: scroll;

    overflow-x: hidden;
  }
  .foodCategory::-webkit-scrollbar {
    width: 1rem;
  }
  .foodCategory::-webkit-scrollbar-thumb {
    background-color: var(--color-secondary-600);
    border-radius: 999px;
  }
  .dividerV {
    display: none;
  }

  /* break point on 1200px */
  @media screen and (max-width: 75em) {
    .megaMenu {
      height: 80vh;
    }
  }

  .menuAds {
    display: none;
  }
}

/* break point on 992px */
@media screen and (max-width: 62em) {
  .foodCategory {
    grid-template-columns: 1fr;
  }
}
