.introPage {
  width: 100%;
  height: 100vh;
  background-color: var(--color-white);
  z-index: 2000;
  position: 1000;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.container {
  width: 100%;
  min-width: 30rem;
  max-width: 70rem;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  gap: var(--spacing-md);
  margin: var(--spacing-md);
}
/* card  card header*/

.card__header {
  width: 100%;
  background-color: var(--color-gray-100);
  border-radius: var(--border-radius-sm);
  padding: var(--spacing-md);
}

.card__header h1 {
  font-size: var(--font-size-xxl);
  color: var(--color-gray-900);
}
.card__header p {
  font-size: var(--font-size-sm);
  color: var(--color-gray-900);
}

/*  card card body  */
.card__body {
  width: 100%;
  display: flex;
  align-items: stretch;
  justify-content: center;
  gap: var(--spacing-md);
}

.profile {
  width: 100%;
  background-color: var(--color-gray-100);
  border-radius: var(--border-radius-sm);
  padding: var(--spacing-md);
  display: flex;
  align-items: stretch;
  justify-content: flex-start;
  gap: var(--spacing-md);
}

.profile__image {
  width: 40%;
  height: min-content;
  overflow: hidden;
  display: flex;
  align-items: flex-start;
  justify-content: center;

  overflow: hidden;
  border-radius: 999px;
}
.profile__image img {
  width: 100%;
  height: 100%;
  min-width: 10rem;
  border-radius: 999px;
  filter: saturate(0%);
}

.profile__content {
  width: 100%;
  display: flex;
  align-items: stretch;
  justify-content: flex-start;
  flex-direction: column;
  gap: var(--spacing-sm);
  width: 100%;
}
.profile__content a {
  font-size: var(--font-size-xs);
  color: var(--color-gray-900);
  opacity: 75%;
  transition: all 0.2s ease-in-out;
}
.profile__content a:hover {
  opacity: 100%;
}

.profile__content p {
  font-size: var(--font-size-xs);
  color: var(--color-gray-900);
}
.profile__content em {
  font-size: var(--font-size-xs);
  font-weight: 600;
  color: var(--color-gray-900);
}

/* card card footer */

.card__footer button {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color-gray-900);
  color: var(--color-white);
  height: 4.6rem;
  border-radius: var(--border-radius-sm);
  font-size: var(--font-size-sm);
  font-weight: 600;
  transition: 1s 1.2s;
}
.card__footer button:disabled {
  background-color: var(--color-gray-300);
  color: var(--color-gray-600);
  cursor: not-allowed;
}

/* Messages Status Styles */

.waitingStatus {
  background-color: var(--color-secondary-100);
  color: var(--color-secondary-600);
  padding: var(--spacing-sm);
  border-radius: var(--border-radius-sm);
  font-size: var(--font-size-xs);
}

.readyStatus {
  background-color: var(--color-tertiary-100);
  color: var(--color-tertiary-700);
  padding: var(--spacing-sm);
  border-radius: var(--border-radius-sm);
  font-size: var(--font-size-xs);
}
