.homeMenuList {
  width: 100%;
  height: min-content;
  padding-top: 4rem;
}
.menuListContainer {
  height: min-content;
  width: 100%;
  background-color: var(--color-white);
  padding: var(--spacing-xl);
}
.menuListIntro {
  width: 36rem !important;
  height: auto;
  border-radius: var(--border-radius-lg);

  /* background-color: var(--color-gray-100); */
  /* box-shadow: var(--box-shadow); */
}
.menuListIntroCard {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
}
.menuListIntroCard h2 {
  font-size: var(--font-size-xxxl);
  /* font-weight: var(--font-weight-light); */
  color: var(--color-gray-800);
  line-height: 1;
  letter-spacing: -2px;
}

.menuListIntroCard p {
  font-size: var(--font-size-sm);
  font-weight: var(--font-weight-normal);
  color: var(--color-gray-800);
  margin-top: auto;
  padding: var(--spacing-md);
  background-color: var(--color-gray-100);
  border-radius: var(--border-radius-md);
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: var(--spacing-sm);
  transition: all 0.3s;
}
.menuListIntroCard p:hover {
  background-color: var(--color-gray-200);
}

.menuListIntroCard p svg {
  font-size: var(--icon-size-24);
  transition: all 0.3s;
}
.menuListIntroCard p:hover svg {
  transform: scale(1.1);
}
.categoryItem {
  width: 22rem !important;
  height: 28rem;
  box-shadow: var(--box-shadow);
  background-color: white;
  border-radius: var(--border-radius-lg);
  /* padding: var(--spacing-lg); */

  transition: all 0.3s;
  overflow: hidden;
}

.categoryItem:hover {
  transform: translate(0, -4px);
  box-shadow: 0 2rem 4rem #00000020;
}
.categoryItem a {
  position: relative;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-decoration: none;
  color: var(--color-gray-900);
  font-size: var(--font-size-xxs);
  text-align: center;
  gap: var(--spacing-lg);
  border: 4px 4px 0 0 solid #00000050;
}

.categoryItem a:hover img {
  transform: scale(1.03);
}
.categoryItem a:hover h2 {
  /* color: var(--color-secondary-900); */
}
.categoryItem a img {
  transition: var(--transition);
  width: 100%;
  min-width: 8rem;
  max-width: 9rem;
  height: auto;
}
.activeTab h2 {
  color: var(--color-secondary-900);
  font-size: var(--font-size-md);
  font-family: var(--font-family-bold);
}

.homeMenuList a[type="selected"] {
  background-color: red;
}
