.snacksMenuContainer {
  width: 100%;
  height: min-content;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(28rem, 1fr));
  grid-gap: var(--spacing-md);
  position: relative;
  padding-top: 10rem;
}
.title {
  color: var(--color-gray-900);
  font-family: var(--font-family-bold);
  font-size: var(--font-size-xl);
  margin-bottom: var(--spacing-lg);
  position: absolute;
}
