.fqa {
  width: 100%;
  padding: var(--padding-container-xl);
  margin: var(--spacing-xl) 0;

  background-color: var(--color-white);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: var(--spacing-xl);
}

.title {
  font-size: var(--font-size-xl);
  color: var(--color-gray-900);
  line-height: 1;
  align-self: flex-start;
}

.fqa__list {
  width: 100%;
  transition: var(--transition);
  display: flex;
  align-items: stretch;
  justify-content: flex-start;
  flex-direction: column;
  gap: var(--spacing-lg);
}

.fqaItem {
  width: 100%;
  height: min-content;
  border: 2px solid var(--color-gray-400);
  border-radius: var(--border-radius-lg);
  padding: var(--spacing-lg);
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: var(--spacing-md);
  cursor: pointer;
}

.fqaItem__header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.fqaItem__header svg {
  font-size: var(--icon-size-32);
  color: var(--color-gray-900);
}

.fqaItem h3 {
  font-size: var(--font-size-lg);
  font-weight: var(--font-weight-regular);
}
.fqaItem h5 {
  font-size: var(--font-size-md);
  font-weight: var(--font-weight-medium);
  color: var(--color-gray-700);
  height: 6rem;
  line-height: 1.5;
}
