.megaMenuItem {
  z-index: var(--z-index-300);
  background-color: lightblue;
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;
  padding: var(--spacing-md);
  overflow: hidden;
  border-radius: var(--border-radius-md);
}

.megaMenuItem:hover {
  background-color: var(--color-gray-100);
}
.itemImage {
  width: 100%;
}

.megaMenuItem .title {
  width: 100%;
  color: var(--color-gray-900);
  font-size: var(--font-size-lg);
  top: 0;
  right: 0;
  z-index: 300;
}
