.footer {
  width: 100%;
  height: min-content;
  background-color: var(--color-white);
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: var(--padding-container-xl);
  margin: var(--spacing-xl) 0;
}
.hideFooter {
  display: none;
}
.footerContainer {
  width: 100%;
  /* height: 80%; */
}

.footer__nav_section {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  /* flex-wrap: wrap; */
  color: var(--color-gray-900);
  font-size: var(--font-size-sm);
  margin: var(--padding-md) 0;
  flex-wrap: wrap;
  gap: 1rem;
  padding: 0 var(--padding-lg);
}

.footer__slogan h2 {
  width: 100%;
  font-size: 12rem;
  font-weight: var(--font-weight-black);
  letter-spacing: -7px;
  line-height: 0.5;
  position: relative;
  color: var(--color-gray-900);
}

.footer__navbar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: var(--padding-md) 0;
}

.footer__slogan h2 span {
  font-size: var(--font-size-xl);
  position: absolute;
}
.footer__nav_box_title p {
  font-size: var(--font-size-md);
  font-weight: 900;
  font-family: var(--font-family-bold);

  width: 100%;
  margin-bottom: var(--spacing-sm);
  position: relative;
}
.footer__navbar p::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0.4rem;
  background-color: var(--color-primary-900);
  border-radius: var(--border-radius-circle);
  transform: scaleX(0);
  transform-origin: bottom right;
  transition: transform 0.2s ease-out;
}
.footer__navbar p:hover::before {
  transform: scaleX(1);
  transform-origin: bottom left;
}
.footer__navbar ul {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: var(--spacing-sm);
}
.footer__navbar li {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  list-style: none;
  transition: var(--transition);
  border-radius: 0.5rem;
}
.footer__navbar li a {
  width: 100%;

  color: var(--color-gray-800);
  transition: var(--transition);
  font-size: var(--font-size-xs);
}
.footer__navbar li:hover a {
  color: var(--color-secondary-900);
}

.footer__nav_box_title {
  width: 100%;
}

.footer__nav_box {
  width: 100%;
  min-width: 10rem;
  max-width: 22rem;
  margin-bottom: var(--spacing-md);
}

/************************styling footer promotion**********************/
.footer__promotion {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: var(--padding-sm) 0;
  flex-wrap: wrap;

  gap: var(--spacing-md);

  /* margin: 0 var(--padding-lg); */
}

.footer__promotion_social {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--spacing-sm);
}
.footer__promotion_social a {
  background-color: transparent;
  border-radius: var(--border-radius-circle);
  padding: var(--padding-xs);
  border: 1px solid var(--color-gray-400);

  display: flex;
  align-items: center;
  justify-content: center;
}

.footer__promotion_social svg {
  transition: var(--transition);
  color: var(--color-gray-800);
  font-size: var(--font-size-lg);
  width: 2.8rem;
  height: 2.8rem;
}

.footer__promotion_social svg:hover {
  color: var(--color-secondary-900);
}

.footer__promotion_apps {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--spacing-sm);
}
.footer__promotion_apps img {
  width: 100%;
  min-width: 12rem;
  height: 100%;
  max-height: 6rem;
}

/************************styling footer legal**********************/
.footer__legal {
  width: 100%;
  margin: var(--padding-lg) 0;
  display: flex;
}
.footer__legal_links {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  gap: var(--spacing-md);
  align-items: center;
  font-size: var(--font-size-sm);
}
.footer__legal_links a {
  text-decoration: none;
  color: var(--color-gray-900);
}
.footer__legal_copyright {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: var(--spacing-sm);
}
.footer__legal_copyright p {
  font-size: var(--font-size-sm);
}
.footer__legal_copyright img {
  width: 4rem;
  height: 4rem;
  transform: translateY(-0.4rem);
}

/* Breakpoints  */

/* break point on 576px */
@media screen and (max-width: 36em) {
  .footer__navbar {
    flex-wrap: wrap;
  }
  .footer__legal {
    flex-wrap: wrap;
    gap: var(--spacing-md);
  }
  .footer__legal_copyright {
    justify-content: center;
  }
  .footer__legal_links {
    justify-content: center;
  }
}

/* break point on 376px */
@media screen and (max-width: 23.5em) {
}
