.footer {
  width: 100%;
  height: min-content;
  background-color: var(--color-white);
  display: flex;
  justify-content: center;
  /* padding: var(--padding-container); */
  flex-direction: column;
  /* margin:0 var(--padding-lg); */
  padding: var(--padding-lg) var(--padding-sm);
}
.footerContainer{
  
  height: 80%;
  justify-content: center;
  
}

.footer__nav_section{
  
  display: flex;
}

/************************styling footer promotion**********************/
.footer__promotion{ 
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
  padding-bottom: 5rem;
  padding-top: 5rem;
  margin:0 var(--padding-lg);
}

.footer__promotion_social{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
.footer__promotion_social button{
  background-color: transparent;
  border: 1px solid var(--color-gray-400);
  padding: var(--padding-xs);
  border-radius: 100%;

}

.footer__promotion_social svg{
  font-size: var(--font-size-lg);

}


.footer__promotion_apps{
  display:flex;
  justify-content: center;
  align-items: center;
  gap: 4rem;

}
.footer__promotion_apps img{
  width: 155px;
  height: 50px;
  opacity: var(--opacity-100);
}


/************************styling footer legal**********************/
.footer__legal{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem; 
  padding-top: 7rem; 
  padding-bottom: 7rem;
  margin:0 var(--padding-lg);
}
.footer__legal_links{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  font-size: var(--font-size-sm);
}
.footer__legal_links a{
  text-decoration: none;
  color: var(--color-gray-900);
}
.footer__legal_copyright{
  display: flex;
  justify-content: space-between;
  gap: 4rem;
  align-items: center;
  
}
.footer__legal_copyright p{
  font-size: var(--font-size-sm);
}
.footer__legal_copyright img{
  width: 2rem;
  height: 2rem;
}