.navbar {
  position: relative;
  width: 100%;
  height: 7rem;
  padding: var(--padding-container-xl);
  background-color: var(--color-white);

  font-size: var(--font-size-md);
  font-weight: var(--font-weight-medium);
  display: flex;
  align-items: center;
  /* margin-top: var(--padding-md); */
  justify-content: space-between;
  z-index: var(--z-index-900);
}
.hideNavbar {
  display: none;
}

.leftContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4rem;
  height: 100%;
}
.leftContainer img {
  height: 5.6rem;
  width: 5.6rem;
  /* margin-left: 20rem; */
  /* margin-bottom: var(--padding-md); */
  margin-right: var(--padding-lg);
  filter: contrast(100%);
  opacity: var(--opacity-100);
}
.pagesContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4rem;
  height: 100%;
}
.pagesContainer button {
  background-color: white;
  color: var(--color-gray-900);
  font-size: var(--font-size-md);
  font-family: var(--font-family-bold);
}
.pagesContainer button:hover {
  color: var(--color-secondary-900);
}
.pagesContainer button svg {
  font-size: var(--icon-size-32);
  transition: all 0.1s;
}

.pagesContainer .activeMenu {
  color: var(--color-secondary-900);
}

.pagesContainer .activeMenu svg {
  transform: rotate(180deg);
}

.pagesContainer a {
  letter-spacing: -1px;
  text-decoration: none;
  color: var(--color-gray-900);
  display: flex;
  align-items: center;
  height: 100%;
}

.active {
  color: var(--color-gray-900);
  font-weight: var(--font-weight-semiBold);
  border-bottom: 5px solid var(--color-primary-900);
}

.rightContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  height: 100%;
}
.shoppingContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  background-color: var(--transparent);
  color: var(--color-gray-900);
  height: 100%;
  position: relative;
}
.shoppingContainer svg {
  height: 3.2rem;
  width: 3.2rem;
  color: var(--color-gray-800);
}

.basketNum {
  position: absolute;
  background-color: var(--color-primary-900);
  width: var(--icon-size-24);
  height: var(--icon-size-24);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: var(--border-radius-circle);
  font-size: var(--font-size-sm);
  top: 60%;
  right: -20%;
  font-family: var(--font-family-bold);
  line-height: 0;
}
.userContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--color-gray-900);
  height: 100%;
  cursor: pointer;
}
.userContainer svg {
  height: 3rem;
  width: 3rem;
  color: var(--color-gray-800);
}

.userContainer svg:hover {
  color: var(--color-primary-900);
}

.megaMenuContainer {
  width: 100%;
  position: absolute;
  top: 100%;
  left: 0;
}
