.buttonPrimary {
  padding: 1.5rem 1.5rem;
  font-size: var(--font-size-md);
  font-weight: var(--font-weight-regular);
  color: var(--color-gray-900);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--padding-xs);
  background-color: var(--color-primary-900);
  border: none;
  border-radius: var(--border-radius-circle);
  transition: var(--transition);
}
.buttonPrimary svg {
  font-size: var(--icon-size-24);
}

.buttonPrimary:hover {
  filter: brightness(105%);
}

.buttonSecondary {
  padding: 1.5rem 1.5rem;
  font-size: var(--font-size-md);
  font-weight: var(--font-weight-regular);
  color: var(--color-gray-900);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--padding-xs);
  background-color: var(--color-trans);
  border: 2px solid var(--color-gray-700);
  border-radius: var(--border-radius-circle);
  transition: var(--transition);
}
.buttonSecondary svg {
  font-size: var(--icon-size-24);
}

.buttonSecondary:hover {
  /* background-color: var(--color-primary-100); */
  border: 2px solid var(--color-secondary-900);
  color: var(--color-secondary-900);
}
.disable {
  padding: 1.5rem 4rem;
  font-size: 1.8rem;
  font-weight: var(--font-weight-medium);
  color: var(--color-gray-600);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  background-color: var(--color-gray-300) !important;
  border: none;
  border-radius: var(--border-radius-md);
  transition: var(--transition);
}

.disable:hover {
  cursor: not-allowed;
  background-color: var(--color-gray-300) !important;
  color: var(--color-gray-600);
  filter: brightness(100%);
}
