.favPage {
  width: 100%;
  height: min-content;
  padding: var(--padding-container-xl);
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  gap: var(--spacing-md);
}

.favPage__header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: var(--spacing-lg) 0;
}
.header__title {
  font-size: var(--font-size-xxxl);
}

.header__subTitle {
  font-size: var(--font-size-lg);
}

/* FILTER PANEL SECTION */
.favPage__filterPanel {
  width: 100%;
  min-width: 27rem;
  max-width: 60rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.filterPanel__container {
  width: 100%;
  min-width: 50rem;
  max-width: 76rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: var(--spacing-sm);
  border-radius: var(--border-radius-md);
  border: 2px solid var(--color-gray-800);
  padding: var(--spacing-md);
}

.filterPanel__btn {
  background-color: var(--color-primary-700);
  padding: var(--spacing-sm) var(--spacing-md);
  border-radius: var(--border-radius-sm);
  font-size: var(--font-size-sm);
  font-weight: var(--font-weight-semiBold);
  border: 2px solid transparent;
  color: var(--color-secondary-900);
}
.filterPanel__btn:hover {
  background-color: var(--color-primary-600);
  color: var(--color-secondary-900);
  border: 2px solid var(--color-secondary-800);
}
/* FAVORITE LIST SECTION  */
.favPage__favList {
  width: 100%;
  min-width: 27rem;
  max-width: 60rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: calc(var(--spacing-xl) * 2);
}

.favList__container {
  width: 100%;
  min-width: 50rem;
  max-width: 76rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: var(--spacing-sm);
  border-radius: var(--border-radius-md);
}

/* fav card */

.favCard {
  width: 100%;
  border-radius: var(--border-radius-md);
  border: 1px solid var(--color-gray-800);
  padding: var(--padding-sm);
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  background-color: var(--color-white);
}

.favCard__image {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  flex: 1;
}
.favCard__image img {
  width: 90%;
  height: auto;
  transform: translateY(-1rem);
}
.favCard__details {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex: 4;
  padding: var(--padding-sm);
}
.favCard__details h2 {
  font-size: var(--font-size-lg);
}

.favCard__footer {
  flex: 0.5;
  display: flex;
  align-items: center;
  justify-content: center;
}

.favCard__footer button {
  padding: var(--padding-sm);
  background-color: var(--color-secondary-900);
  color: var(--color-white);
  font-size: var(--font-size-sm);
  flex: 1;
  border-radius: var(--border-radius-md);
}
.favCard__footer button svg {
  font-size: var(--font-size-lg);
}
